body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .uk-h1,
body .uk-h2, 
body .uk-h3, 
body .uk-h4, 
body .uk-h5, 
body .uk-h6, 
body .uk-heading-2xlarge, 
body .uk-heading-large, 
body .uk-heading-medium, 
body .uk-heading-small, 
body .uk-heading-xlarge {
    font-family: "Montserrat", sans-serif;
}

body {
  background: #090e19;
}

div.uk-card-default {
  background: linear-gradient(-45deg, #1299d8, #180366, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;  border-radius: 50px;
  transition: 1s cubic-bezier(.17,.67,.15,1.2);

}

div.uk-card-secondary {
  border-radius: 20px;
}

.uk-button.uk-button-primary {
  border-radius: 20px;
  font-weight: 600;
  color: #fff;
  padding: 10px 30px;
}

div hr {
  border-top: 1px solid #696969;
  margin-top: 30px;
  margin-bottom: 30px;
}


.gradient-card img {
  text-align: right;
  position: absolute;
  right: -20px;
  top: -60px;
}

.text-inner {
  bottom: 0;
  color: #fff;
  transform: translateX(-20px);  
}

.text-inner h1 {
  font-weight: 600;
}


div.inner-logo {
  padding: 20px;
  border-radius: 50px;
}

div.inner-logo img {
  transform: translateY(-100px);
}


.uk-button.uk-button-primary {
  background: linear-gradient(-45deg, #0a1791, #0b135c, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Page transition */


.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}







.scroll-down {
  position: absolute;
  bottom: -10%;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  z-index: 1000;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation:    fade_move_down 2s ease-in-out infinite;
  animation:         fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}




div.glow {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px rgb(0, 81, 255), /* middle magenta */
    0 0 140px 90px #0ff; /* outer cyan */
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    bottom: 0;
}