body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .uk-h1,
body .uk-h2, 
body .uk-h3, 
body .uk-h4, 
body .uk-h5, 
body .uk-h6, 
body .uk-heading-2xlarge, 
body .uk-heading-large, 
body .uk-heading-medium, 
body .uk-heading-small, 
body .uk-heading-xlarge {
    font-family: "Montserrat", sans-serif;
}

body {
  background: black;
}

div.gradient-card {
  width: 300px;
  height: 400px;
  padding: 0;
  background: linear-gradient(-45deg, #1299d8, #180366, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;  border-radius: 50px;
  transition: 1s cubic-bezier(.17,.67,.15,1.2);

}

.uk-button.uk-button-primary {
  border-radius: 50px;
  font-weight: 600;
}




.gradient-card img {
  text-align: right;
  position: absolute;
  right: -20px;
  top: -60px;
}

.text-inner {
  bottom: 0;
  color: #fff;
  transform: translateX(-20px);  
}

.text-inner h1 {
  font-weight: 600;
}


div.inner-logo {
  padding: 20px;
  border-radius: 50px;
}

div.inner-logo img {
  transform: translateY(-100px);
}


.uk-button.uk-button-primary {
  background: linear-gradient(-45deg, #0a1791, #0b135c, #23a6d5);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Page transition */


.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}