{{ partial "global/head" . }}
<div class="uk-container">
    <div class="uk-child-width-1-1 uk-light uk-visible@s">
        <div>
            <div class="uk-height-viewport uk-flex uk-flex-middle uk-flex-center">
                <div>
                    <div class="uk-card uk-card-default uk-card-body uk-width-large" uk-height-viewport="offset-bottom: 30">
                        <div class="uk-position-top-right">
                            <div class="uk-animation-slide-right-small">
                                <img src="../uploads/white-new.png" alt="" width="200" style="transform:translateY(-20px)">
                            </div>
                        </div>
                        <div class="uk-position-bottom-left">
                            <div class="uk-width-medium uk-light" style="transform:translateX(-20px)">
                                <div class="uk-animation-slide-left-small">
                                    <h1 class="uk-text-bold">Become a Serhant Agent</h1>
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, minima.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-position-bottom uk-padding uk-text-center">
                    <a href="/signup" class="uk-button uk-button-primary">Sign up</a>

                </div>
            </div>
        </div>
    </div>



    <div class="uk-hidden@s">
        <div class="uk-height-viewport uk-flex uk-flex-middle uk-flex-center">
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-width-medium" uk-height-viewport="offset-bottom: 40">
                    <div class="uk-position-top-right">
                        <div class="uk-animation-slide-right-small">
                            <img src="../uploads/white-new.png" alt="" width="200" style="transform:translateY(-20px)">
                        </div>
                    </div>
                    <div class="uk-position-bottom-left">
                        <div class="uk-animation-slide-left-small uk-light">
                            <h1 class="uk-text-bold">Become a Serhant Agent</h1>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, minima.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-position-bottom uk-padding uk-text-center">
                <a href="/signup" class="uk-button uk-button-primary">Sign up</a>

            </div>
        </div>
    </div>
</div>
{{ partial "global/footer" . }}