{{ partial "global/head" . }}




<div class="uk-modal-full uk-open splash" uk-modal style="display: block;overflow:hidden">
    <div>
        <div class="modal-new">
            <div>
                <h2 class="word-rotate">
                    <div class="word-rotate__words">
                      <span>Buy</span>
                      <span>Sell</span>
                      <span>Rent</span>
                      <span>With Serhant</span>
                    </div>
                  </h2>
            </div>
        </div>
    </div>
  </div>



<a id="one">Section 1</a>
<a id="two">Section 2</a>
<a id="three">Section 3</a>

<section id="one">
    <div class="uk-container uk-container-small uk-text-center uk-padding">
        <div>
            <img src="../uploads/white-new.png" alt="" width="160">
            <div class="glow"></div>
        </div>
        <div class="uk-animation-slide-bottom-small">
            <div class="uk-light uk-margin-large-top">
                <h1 class="uk-text-bold">Become a Serhant Agent</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, voluptatibus!</p>
            </div>
            <hr>
                
                <a href="#three" class="uk-button uk-button-primary uk-width-1-1">Join the Team</a>
            <div class="uk-margin-small-top uk-text-center uk-light uk-text-italic uk-text-light">
                <a href="#two">Learn more</a>
            </div>
        </div>
    </div>
</section>

<section id="two">
    <div class="uk-text-center">
        <h1>Why join Serhant</h1>
        <div>
          <a href="#one" class="uk-button uk-button-primary">Back</a>
        </div>
    </div>
</section>

<section id="three">
    <div class="uk-container uk-container-small uk-overflow-auto">
        <div class="uk-flex uk-flex-center">
            <div class="uk-width-large">
                <form name="Inman Event Form" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small inquire__form" uk-grid action="/thank-you">
                    <input name="bot-field" type="hidden" />
                    <input type="hidden" name="Subject" value="Inman Event Form">
                    <div class="uk-width-1-1@s">
                        <label for="uk-input-fname" class="uk-text-default">First name</label>
        
                        <input class="uk-input" type="text" name="First Name" id="uk-input-fname" required>
                    </div>
                    <div class="uk-width-1-1@s">
                        <label for="uk-input-lname" class="uk-text-default">Last name</label>
        
                        <input class="uk-input" type="text" name="Last Name" id="uk-input-lname" required>
                
                    </div>
                    <div class="uk-width-1-1@s">
                        <label for="uk-input-email" class="uk-text-default">Email</label>
        
                        <input class="uk-input" type="email" id="input-email" name="Email" required>
        
                    </div>
                    <div class="uk-width-1-1@s">
                        <label for="uk-input-phone" class="uk-text-default">Phone</label>
        
                        <input class="uk-input" type="tel" id="input-phone" name="Phone" required>
        
                    </div>
                    <div class="uk-width-1-1 uk-text-center">
                        <button class="uk-button uk-button-primary uk-width-1-1">Submit</button>
                        <a href="#one" class="uk-button uk-button-text uk-light uk-margin-small-top">Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<script>
     // Get a reference to the splash dialog
var splash = document.querySelector(".splash");

// When the window is loaded....
window.addEventListener("load", function() {
  
  // Check to see if the cookie indicates a first-time visit
  if(document.cookie.indexOf("visited=true") === -1) {
    
    // 7 seconds later, hide the splashhugo
    setTimeout(function(){
      splash.style.display = "none";
      
      // >> Set cookie to visited here <<
    }, 4700);
  } 
});
</script>
{{ partial "global/footer" . }}