{{ partial "global/head" . }}
    <main>
        <div class="uk-height-viewport">
            <div class="uk-position-center">
                <div class="gradient-card">
                    <img src="../uploads/white-new.png" alt="" width="190">
                </div>
                <div class="uk-position-absolute text-inner uk-light">
                    <h1>Become a Serhant Agent</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus laudantium nihil ipsa quidem illo</p>
                </div>
            </div>
            <div class="uk-position-bottom uk-padding uk-text-center">
                <a href="/signup" class="uk-button uk-button-primary"><span>Sign up</span></a>
            </div>
        </div>
    </main>
{{ partial "global/footer" . }}