{{ define "main" }}
    <div class="uk-height-viewport uk-flex uk-flex-center uk-flex-middle bg">
        <div class="uk-container uk-light uk-text-center">
            <lottie-player src="https://assets1.lottiefiles.com/private_files/lf30_nsqfzxxx.json" background="transparent" speed="1" style="width: 200px; margin: 0 auto" autoplay></lottie-player>
            <h1 class="uk-heading-medium" style="margin-top:0">
                Thank You
            </h1>
            <p>We look forward to having you join the Serhant team.</p>

        </div>
    </div>
{{ end }}